.login_container{
    display: grid;
    place-items: center;
    width:100%
}
.login_container h1{
    font-weight: 320;
    font-size:2.7rem;
    margin: 0;
}
.form_class{
    width: 80%;
}
.form_class Button{
    width: 100px;
}
.form_class p{
    font-size: 1.2rem;
    font-weight: 400;
    text-decoration: none;
}